{{ define "main" }}
<div class="post">
  <h2 class="post-title"><a href="/books/">我的阅读</a></h2>
  <div class="post-content"></div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/haofushun008/shaun@gh-pages/Bmdb.min.css">
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
<script type="text/javascript" src='https://cdn.jsdelivr.net/gh/haofushun008/shaun@gh-pages/Bmdb.min.js'></script>
<script type="text/javascript">
    new Bmdb({
      type: 'books',
      selector: '.post-content',
      secret: 'fbae85234f6aacb5e1978c9bd341c35fa267e48e5b9801f618bae09680548631',
      noMoreText: '没有更多数据了',
      limit: 30
    })
</script>
{{ end }}