<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      <div class="copyright">
        <span>© {{ now.Year }}</span>
      </div>
      <!--音乐https://avvt.cn/-->
<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
<script id="ilt" src="https://avvt.cn/player/js/player.js" key="d716cd4be3c44675a5de13bf3de3fe3d"></script>
      <div> 
      	<center>
      <p style="font-size:13px">
      <a><script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278674641'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278674641%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></a>
      &nbsp;
      <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1792806737,1132565011&fm=26&gp=0.jpg" width=1.5% height=1.5% border="0" alt="公安备案" title="公安备案">
      <a href="http://beian.miit.gov.cn/" target="_blank">鲁ICP备20009096号</a>
      </p>
    </center>
      </div>
    {{end}}
  </div>
</footer>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/lmm214/immmmm@gh-pages/main.js"></script>

<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/lmm214/immmmm@gh-pages/lately.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/lmm214/immmmm@gh-pages/waterfall.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/lmm214/immmmm@gh-pages/slimbox2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/lmm214/immmmm@gh-pages/func.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/instant.page@3.0.0/instantpage.min.js" type="module"></script>
